
 main {
  text-transform: uppercase;
  font-size: 1rem;
}

.container-XXL {
  padding: 0 0.2rem;
}

h2 {
  color: var(--blog-navbar-background);
  margin-bottom: 2rem;
}

/* delete arrows from numeric input*/
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shop-entrance {
  background-color: var(--most-pop-right-cont);
}

.shop-entrance button {
  width: auto;
  height: auto;
  position: static;
  border-radius: 96px;

}


.left-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.basket-product-top {
  display: flex;
  gap: 1.5rem;
}

.basket-product__img-cnt {
  height: 96px;
  width: 96px;
}

.basket-product__img-link img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.basket-product_title {
  line-height: 1.2rem;
  display: inline;
  margin-bottom: 0rem;
}

.basket-products-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.4px solid var(--basket-light-gray);
}

#basket-item-counter {
  font-size: 0.9rem;
}

.basket-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basket-product-item {
  border-bottom: 1px solid var(--basket-light-gray);
  padding: 1rem 0 2rem 0;
}

.basket-product-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  margin-top: 20px;
}

.basket-product_quantity-cnt {
  display: flex;
}

.basket-product_quantity-cnt button {
  background-color: var(--theme-color-white);
  align-self: center;
  padding: 0.5rem 0.9rem;
  border: 1.5px solid var(--shop-product__button);
}

.shop-entrance .addition_btn {
  border-radius: 0 96px 96px 0;
  border-left: none;
}

.shop-entrance .subtraction_btn {
  border-radius: 96px 0 0 96px;
  border-right: none;
}

.basket-product-actions input {
  width: 40px;
  text-align: center;
  border-top: 1.5px solid var(--shop-product__button);
  border-bottom: 1.5px solid var(--shop-product__button);
  border-left: none;
  border-right: none;
}

.addition_btn {
  padding: 0 12px;
}

.basket-product_subtotal-cnt {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: auto;
  align-items: flex-end;
}

.basket-product_subtotal-cnt span:first-child {
  font-size: 12px;
  color: var(--basket-light-gray);
  font-weight: 500;
}

.basket-product_subtotal-cnt span:nth-child(2) {
  font-weight: 600;
}

.basket-product_delete-cnt {
  align-items: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.basket-product_delete-btn {
  width: 16px;
  height: 16px;
}


.right-container {
  flex-direction: column;

}

.basket-btns-cnt {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
  align-items: center;
}



.shopping-continue-link a {
  color: var(--theme-color-black);
  border: 1.3px solid var(--shop-product__button);
  padding: 0.5rem 0.9rem;
  border-radius: 96px;
}

.act-basket-btn {
  padding: 0.5rem 0.9rem;
  border-radius: 96px;
  border: 1.3px solid var(--shop-product__button);
  position: static;
  width: auto;
  height: auto;


}



.justify-space-between {
  justify-content: space-between;
}

.shop-entrance h2 {
  text-transform: uppercase;
}

h3 {
  margin: 0.3rem 0;
  color: var(--theme-color-black);
  font-weight: 500;
  text-transform: uppercase;
}

.basket-summary-cnt h3 {
  margin-top: 0.5rem ;
  border-bottom: 1.4px solid var(--basket-light-gray);

}

.shop-entrance h4 {
  margin: 0.2rem 0;
}
.basket-summary-cnt {
  display: flex;
  flex-direction: column;
}

.basket-summary-cnt h4 {
  font-size: 0.9rem;
}

.basket-promo-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket-promo-cnt label {
  white-space: nowrap;
  text-transform: none;
  margin-bottom: 0.5rem;
}

.basket-promo-cnt input {
  padding: 0.55rem 1rem;
  border-radius: 2rem;
  border: 1px solid var(--basket-light-gray);
  width: 200px;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 1rem;

}

.small-btn {
  display: inline-block;
  padding: 0.5rem 0.45rem;
  border-radius: 96px;
  transition-property: background-color;
  transition-delay: 0s;
  transition-duration: 0.25s;
}

.btn.white-text {
  width: 130px;
  min-width: auto;
  text-transform: none;
  color: var(--main-light-gray);
}

.btn:hover {
  background-color: rgb(152, 135, 84);
}

.btn:link, .btn:visited, .btn:active {
    text-decoration: none;
    cursor: pointer;
}

.log-in-link {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-transform: none;
}

.log-in-link a {
  color: var(--contact-me-form-txt);
  text-decoration: underline;
}

.discount-value {
  margin-top: 1.5rem;
}

.basket-promo-cnt,
.discount-value, 
.basket-price-summary,
.final-price {
  font-size: 0.8rem;
  line-height: normal;
}

.final-price {
  font-size: 1rem;
  font-weight: 600;
}

.final-btn {
  align-self: center;
  padding: 0.5rem 0.9rem;
  min-width: 0;
  margin-top: 1rem;
}



/*Media queries*/
@media (width > 320px) {
  .basket-promo-cnt {
    align-items: start;
  }
}

@media (width > 576px) {
  .basket-btns-cnt {
    flex-direction: row;
    gap: 1.5rem;
  }

}

@media (576px <= width < 1399.98px) {
  .container-XXL {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (width > 768px) {
  .basket-promo-cnt  {
    flex-direction: row;
    align-items: center;
  }

  .basket-promo-cnt label {
    margin-bottom: 0;
  }
  
  .basket-promo-cnt input {
    margin-bottom: 0;
    margin-left: 1rem;
  }

  .modulo-hero-left-container, 
  .modulo-hero-right-container, 
  .home-review-left-column {
    width: 100%;
  }

}

@media (width > 992px) {

  .shop-entrance .column {
    flex-direction: row;
  
  }

  .container-XXL {
    max-width: 1000px;
  }

  .left-container {
    padding-right: 1rem;
    border-right: 1px solid var(--basket-light-gray);
  }

  .right-container {
    width: 50%;
    padding-left: 1rem;
  }

  .basket-promo-cnt {
    flex-direction: column;
    gap: 0.7rem;
    align-items: flex-start;
  }

  .basket-promo-cnt input {
    margin-left: 0;
  }

}